.app-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 5vh;

    padding: 10px;
    background-color: lightblue;
    margin: 0 0 20px;
}

.app-header h1 {
    margin: 0;
}

.app-header nav {
    display: flex;
    gap: 10px;
    color: var(--gray2);
}

.logo {
    height: 50px;
    width: 60px;
    background-image: url(https://ssl.gstatic.com/gb/images/sprites/p_1x_451184c1472c.png);
    background-position-y: 400px;
}