.book-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    gap: 20px;
    align-items: start;

    background-color: lightsteelblue;
    margin-block-start: 10px;
    justify-items: center;

    box-shadow: 0px 0px 1px 0px black;
    align-content: center;
    position: relative;
}

.book-details .book-img {
    max-height: 100%;
    width: 480px;
    justify-self: center;
    grid-column: 1;
    /* grid-row: 1 / 6; */
    box-shadow: 0 0 2px 1px white;

}

.book-details .book-info {
    display: grid;

}

.book-info>h3 {
    display: flex;
}

.book-info>* {
    font-weight: 700;
}

.book-info span {
    margin-inline-start: 5px;
    align-self: end;
    font-size: 1rem;
    font-weight: 400;
}

.book-details button {
    justify-self: end;
}

.book-details .sale {
    width: 190px;
    position: absolute;
    left: -48px;
    top: -47px;
    rotate: -40deg;
}