.car-details {
    display: grid;
    
    padding: 10px;
    background-color: lightsteelblue;
}
.car-details img{
    width: 200px;
    justify-self: center;
}
.car-details button{
    justify-self: end;
}