.user-msg {
    background-color: lightgray;
    padding: 0.5em;
    font-size: 1.3rem;
    position: fixed;
    bottom: 0.5em;
    right: 0.5em;
    opacity: 0;
    width: 280px;
    text-align: center;
    transition: opacity 1s;
}

.user-msg p {
    margin: 0;
}

.user-msg.success {
    background-color: lightgreen;
}

.user-msg.show {
    opacity: 1;
}

.user-msg.error {
    background-color: lightcoral;
}

.user-msg button {
    float: right;
}